
#Home {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #fff;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
}

#Home #Presentation {
    background-color: #003B95;
    width: 100%;
    height: 62vh;
}

#Home #Presentation #textDiv {
    background-image: url('../../img/home/Arrow.png');
    background-repeat: no-repeat;
    background-size:contain;
    width: 75%;
    float: left;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#FFF;
    font-size: 23pt;
    text-shadow: #00000044 5px 6px 6px;
    z-index: 10;
    position: absolute;
}

#Home #Presentetion #text {
    display: flex;
    flex-direction: column;
}

#Home #Presentation h1{
    color: #001586;
    margin-left: 4vw;
    font-size: 38pt;
    margin-bottom: 14px;
}

#Home #Presentation #imageDiv {
    background-color: #fff;
    width: 35%;
    height: inherit;
    display: flex;
    z-index: 2;
    position:relative;
    float: right;
    justify-content: center;
    align-items: center;
}

#Home #Presentation img {
    width: 90%;
    height: 80%;
}

#Home header {
    background-color: #000D7F;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#Home header input {
    display: none;
}

#Home header ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    list-style: none;
    font-family: 'Atkinson Hyperlegible';
    color: #fff;
    margin-left: 24%;
    margin-top: 10px;
}

#Home header ul li {
    display: block;
    margin: 0 10px 0 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 25pt;
    line-height: 37px;
    color: #FFFFFF;
}

#Home header ul li:hover {
    color:#2898FF;
}

#Home header p {
    background-color: #0072DB;
    padding: 2px 6px 2px 6px;
    border-radius: 20px;
    color: #fff;
    width:fit-content;
    height:fit-content;
    font-size: 24px;
    margin: 0 5px 0 0;
    margin-top: -5.5% ;
}

#Home header #registerButton {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    font-size: 16pt;
    float: right;
    margin-left: 23%;
}

#Home header #logoTitle {
    width: 16%;
    height: 60px;
}

#Home #Abstratic {
    background-color: #FFF;
    display: flex; 
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../img/home/backgroundWhite.jpg');
}

#Home #Abstratic #textDiv {
    width: 90vw;
    height: 75vh;
    display: flex;
    font-family: 'Kand', 'Outfit';
    justify-content: center;
    align-items: center;
}  

#Home #Abstratic h1 {
    font-size: 35pt;
    margin-bottom: 9%;
}

#Home #Abstratic p {
    font-size: 30pt;
    width: 80%;
    margin: 20px 0 20px 0;
    text-align: right;
}

#Home #Abstratic #imageDiv {
    margin-top: 30px;
    margin-left: 30px;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-content: center;
}

#Home #Abstratic #imageDiv img {
    width: 44vw;
    height: 40vh;
    margin-top: 16%;
}

#Home .centralize {
    text-align: center;
}

#Home #Categories{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #AAA;
    background-image: url('../../img/home/backgroundBlue.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

#Home #Categories #categoriesDiv {
    display: flex;
    height: 55vh;
    flex-direction: row;
    
}

#Home #Categories h1 {
    font-size: 32pt;
    margin: 5% 0 5% 0;
}

#Home footer{
    background-color: #000;
    width: 95vw;
    padding-left: 5vw;
    display: flex;
    flex-direction: column;
}

#Home footer *{
    color: #FFF;
    list-style: none;
}

.container2 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #000;
    height: 40vh;
    color: aliceblue;
    font-size: 20px;
    width: 100%;
    padding-top: 4vh;
}

.first {
    color: rgb(173, 167, 167);
    font-size: 24px;
}

#Home footer img {
    width: 190px;
    height: 80px;
}

.container2 ul li a {
    color: white;
    font-size: 13px;
    text-decoration: none;
}

.container2 ul li a:hover {
    color: rgb(87, 87, 230);
}

.container2 ul {
    font-size: 20pt;
}
