#Category #background {
    width: 6vw;
    height: 6vw;
    background-color: #D9D9D9;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 6px 8px 10px #000000;
}

#Category {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px 25px 0 25px;
}

#Category #title {
    font-size: 16pt;
    margin-top: 7px;
    text-shadow: 4px 4px 8px #000000;
}

#Category img {
    width: 100%;
    height: 100%;
}